@using ProjectBluefox.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Krypto</title>

    <!-- Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Icons/favicon-16x16.png">
    <link rel="mask-icon" href="/Content/Icons/safari-pinned-tab.svg" color="#333333">

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.webapp">
    <meta name="theme-color" content="#333333">

    <!-- Styles -->
    @Styles.Render("~/Content/Css/bundle.min.css")
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>

    <header class="row">
        <div class="row primary-row">
            <div class="container">
                <a class="logo" href="/">
                    <img src="~/Content/Images/logo-wide.svg" height="28">
                </a>
               
                <div class="search">
                    <input type="text" placeholder="Search..." />
                </div>
            </div>
        </div>

        <div class="row menu-row">
            <div class="container mobile-hidden">
                @if (ViewBag.MenuButtons != null)
                {
                    foreach (NavigationMenuButton button in ViewBag.MenuButtons)
                    {
                        if (button.IsActive)
                        {
                            <a href="@button.Url" class="menu-button active">
                                @button.DisplayName
                            </a>
                        }
                        else
                        {
                            <a href="@button.Url" class="menu-button">
                                @button.DisplayName
                            </a>
                        }
                    }
                }

                <a href="/Account/SignOut" class="sign-out">
                    Sign out
                </a>
            </div>
            <div class="container mobile-visible">
                <div class="open-mobile-menu">
                     <i class="fa fa-bars"></i> Menu
                </div>
            </div>
        </div>
    </header>
    <div class="row content-body">
        <div class="container">
            @RenderBody()
        </div>
    </div>


    @if (ViewBag.MenuButtons != null)
    {
        <div class="mobile-menu mobile-visible">
            <div class="mobile-menu-header">
                <a class="logo" href="/">
                    <img src="~/Content/Images/logo-wide.svg" height="28">
                </a>
                <i class="fas fa-times close-mobile-menu"></i>
            </div>
                           
            @foreach (NavigationMenuButton button in ViewBag.MenuButtons)
            {
                if (button.IsActive)
                {
                    <a href="@button.Url" class="menu-button active">
                        <i class="@button.Icon"></i> @button.DisplayName
                    </a>
                }
                else
                {
                    <a href="@button.Url" class="menu-button">
                        <i class="@button.Icon"></i> @button.DisplayName
                    </a>
                }            
            }
            <a href="/Account/SignOut" class="menu-button sign-out">
                <i class="fas fa-sign-out-alt"></i> Sign out
            </a>            
        </div>
    }
        

        <!-- Scripts -->
        @Scripts.Render("~/ScriptBundles/Vendors")
        @Scripts.Render("~/ScriptBundles/Util")
        @RenderSection("Scripts", required: false)
    </body>
</html>
